
/*global css variables */
:root {
  --color-bg: #ECE9E4;
  --color-text-main: #000000;
  --color-primary: #FFFF00;
  --wrapper-height: 87vh;
  --image-max-width: 300px;
  --image-margin: 3rem;
  --font-family: "HK Grotesk";
  --font-family-header: "HK Grotesk";
}

body, html {
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Prevents horizontal scroll due to overflow */
  height:100%;
}

/* Basic page style resets */
* {
  box-sizing: border-box;
}
[hidden] {
  display: none !important;
}

/* Import fonts */
@font-face {
  font-family: HK Grotesk;
  src: url("https://cdn.glitch.me/605e2a51-d45f-4d87-a285-9410ad350515%2FHKGrotesk-Regular.otf?v=1603136326027")
    format("opentype");
}
@font-face {
  font-family: HK Grotesk;
  font-weight: bold;
  src: url("https://cdn.glitch.me/605e2a51-d45f-4d87-a285-9410ad350515%2FHKGrotesk-Bold.otf?v=1603136323437")
    format("opentype");
}

body {
  font-family: HK Grotesk;
  background-color: var(--color-bg);
}


/* Subheading */
h2 {
  color: #2800FF;
}

.image-container {
  width: 100%; 
  height: 100%; 
  overflow: hidden; 
}

.image-container img {
  width: 100%; /* Makes the image fill the container */
  height: auto; /* Maintains aspect ratio */
  display: block; 
}

.page-container {
  position:relative;
}

.buttons {
  background-image: url('assets/button_next.png');
  background-size: cover;
  background-color: transparent;
  width: 5vw;  
  min-width: 50px; 
  height: 5vw;
  min-height: 50px; 
  border: none;
  cursor: pointer;
  z-index: 10;
  position: absolute;
  bottom: 5vh;
  right: 5vw;
}

.buttons2{
  background-image: url('assets/button_back.png');
  background-size: cover;
  background-color: transparent;
  width: 5vw;  
  min-width: 50px; 
  height: 5vw;
  min-height: 50px; 
  border: none;
  cursor: pointer;
  z-index: 10;
  position: absolute;
  bottom: 5vh;
  left: 5vw;
}

.buttonOrange{
  background-color: #FF6A00;
  border: none;
  color: white;
  padding:1vw 4vw;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 2vw;
  margin: 2vw 1vw;
  cursor: pointer;
  border-radius: 4vw;
  box-shadow: 4 4px #999;

  position: absolute;
  bottom: 3vh;
  right: 5vw;
}

.buttonBlue{
  background-color: #0038FF;
  border: none;
  color: white;
  padding:1vw 4vw;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 2vw;
  margin: 2vw 1vw;
  cursor: pointer;
  border-radius: 4vw;
  box-shadow: 4 4px #999;

  position: absolute;
  bottom: 3vh;
  left: 5vw;
}



.audio-button {
  background-color: #d2b48c; 
  border: none;
  border-radius: 4vw; 
  padding: 1vw 2vw; 
  font-family: Arial, sans-serif;
  font-size: 2vw; 
  color: black; 
  cursor: pointer; 
  display: flex;
  align-items: center;
  justify-content: center;

  position: absolute;
  top:51%;
  left:20%;

}

.speaker-icon {
  margin-left: 10px; 
}

.formpage-container{
  width: 100%; 
  height: 100%;
  padding-left:10%;

}

.page-title{
  padding-top: 6%;

}

.content {
  padding-top:2%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  width:80%;
}

.capturedImg {
  flex: 1;
  max-width: 40%; 
  max-height:40%;
}

.capturedImg img {
  width: 100%;
  height: auto;
  display: block;
}

.form-container {
  flex: 1;
  max-width: 40%; 
  max-height: 40%;

}

.input-group {
  margin-bottom: 10%;
}

.input-group input{
  height:10vh;
  border:none;
}

.input-group label, .input-group input, .input-group textarea {
  width: 100%;
  display: block;
}

.input-group textarea {
  height: 30vh; 
  border:none;
}

